[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/vendor/assimp"]
	path = Engine/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/Groovounet/glm.git
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/vendor/stb"]
	path = Engine/vendor/stb
	url = https://github.com/nothings/stb.git
